# requirements.txt records the full set of dependencies for development
accelerate
codetiming
datasets
dill
flash-attn
hydra-core
latex2sympy2
liger-kernel
nltk
numpy
pandas
datasets
peft
pyarrow>=15.0.0
pybind11
pylatexenc
pylint==3.3.7
ray[default]
scipy
scikit-learn
sentence-transformers
tensordict<=0.6.2
torchdata
transformers
# vllm==0.6.3.post1
wandb
vertexai
vllm
 